@import "../core/_variables";
@import "../core/_mixins";
@import "../core/_reset";

.main {
  min-width: 320px;
  padding: 2vw;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-s-breakpoint {
    padding: 5vw 2vw;
  }
  .logo {
    width: 70vw;
    @include media-s-breakpoint {
      width: 50vw;
    }
    @include media-xl-breakpoint {
      width: 30vw;
      max-width: 420px;
    }
  }
}
