@import "../core/_variables";
@import "../core/_mixins";
@import "../core/_reset";

.app {
  height: 100vh;
  min-height: 100vh;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

.main {
  padding-bottom: 7vw;
  background-color: black;
  color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include media-s-breakpoint {
    padding-bottom: 5vw;
  }
  @include media-l-breakpoint {
    padding-bottom: 3vw;
  }
  .logo {
    width: 70vw;
    @include media-s-breakpoint {
      width: 50vw;
      max-width: 420px;
    }
  }
}
