@import "../core/_variables";
@import "../core/_mixins";
@import "../core/_reset";

.card {
  &__detail {
    font-family: $fontMain;
    width: 80vw;
    padding: 5vw;
    background-color: $colorMain;
    border: 3px solid $colorBgrWarm;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    @include media-s-breakpoint {
      padding: 0;
      flex-direction: row;
      align-items: center;
    }
    @include media-m-breakpoint {
      max-width: 700px;
    }
  }
}

.detail {
  &__image {
    width: 100%;
    border-radius: 5px;
    @include media-s-breakpoint {
      width: 50%;
      margin: 2vw;
    }
    @include media-m-breakpoint {
      margin: 2.2vw;
    }
  }
  &__name {
    text-transform: uppercase;
    margin: 2vw 0;
    font-family: $fontTitle;
    font-weight: 300;
    font-size: 18px;
    @include media-s-breakpoint {
      font-size: 16px;
      // padding: 1vw 1vw 0;
    }
    @include media-m-breakpoint {
      font-size: 20px;
      padding-bottom: 0;
    }
    @include media-xl-breakpoint {
      padding: 0.5vw 0.5vw 0;
      font-size: 20px;
    }
  }
  &__details {
    margin: 1vw 0;
    font-size: 16px;
    @include media-s-breakpoint {
      margin: 0;
      font-size: 14px;
    }
    @include media-m-breakpoint {
      font-size: 18px;
    }
    &--thin {
      font-weight: 300;
    }
  }
}

.return {
  &__link {
    font-family: $fontTitle;
    display: block;
    margin: 30px 0 10px;
    text-decoration: none;
    color: $colorBgrWarm;
  }
  &__button {
    display: inline-flex;
    align-items: center;
    &--btn {
      padding-left: 5px;
    }
  }
}
