@import "../core/_variables";
@import "../core/_mixins";
@import "../core/_reset";

.results {
  display: grid;
  gap: 2vw;
  @include media-s-breakpoint {
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
  }
  @include media-m-breakpoint {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5vw;
  }
  @include media-l-breakpoint {
    grid-template-columns: repeat(4, 1fr);
  }
  &__link {
    color: white;
    text-decoration: none;
  }
  &--nomatch {
    width: 80vw;
    max-width: max-content;
    padding: 2vw;
    background-color: $colorMain;
    border: 3px solid $colorBgrWarm;
    border-radius: 8px;
    position: relative;
    font-family: "Get Schwifty", $fontMain;
    font-size: 18px;
    line-height: 2.3;
    text-align: center;
    letter-spacing: 2px;
  }
}

.nomatch {
  &--linebreak {
    display: block;
  }
  &--horror {
    font-family: "Get Schwifty", $fontMain;
  }
}
