@import "../core/_variables";
@import "../core/_mixins";
@import "../core/_reset";

.error {
  margin-top: 30px;
  width: 80vw;
  padding: 5vw;
  background-color: $colorMain;
  border: 3px solid $colorBgrWarm;
  border-radius: 8px;
  max-width: 1000px;
  font-family: $fontRickMorty, $fontMain;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-l-breakpoint {
    padding: 2vw 5vw;
  }
  &__image {
    width: 100%;
    border-radius: 5px;
    margin: 3vw 0;
    @include media-m-breakpoint {
      margin: 2.2vw;
    }
  }
  &__description {
    text-align: center;
    font-size: 16px;
    line-height: 1.8;
  }
}
