@import "../core/_variables";
@import "../core/_mixins";
@import "../core/_reset";

.filters {
  width: 100%;
  margin: 2vw 0;
  padding: 3vw 7vw;
  background-color: $colorBgrWarm;
  color: $colorBorder;
  font-family: $fontMain;
  display: flex;
  flex-direction: column;
  @include media-m-breakpoint {
    padding: 3vw 4vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @include media-l-breakpoint {
    padding: 1vw 8vw 3vw;
  }
  @include media-xl-breakpoint {
    padding: 2vw 18vw 2vw;
  }
  &__title {
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
  }
}
