@import "../core/_variables";
@import "../core/_mixins";
@import "../core/_reset";

.filter {
  &__section {
    border: none;
    margin-top: 16px;
    @include media-m-breakpoint {
      margin: 0;
    }
  }
  &__title {
    margin-bottom: 3px;
    font-size: 18px;
    @media all and (max-width: 767px) {
      cursor: pointer;
    }
  }
  &__label {
    font-size: 14px;
    vertical-align: middle;
  }
}

@media all and (max-width: 767px) {
  .hidden {
    display: none;
  }
}
