@import "../core/_variables";
@import "../core/_mixins";
@import "../core/_reset";

.return {
  &__link {
    font-family: $fontTitle;
    display: block;
    margin: 30px 0 10px;
    text-decoration: none;
    color: $colorBgrWarm;
  }
  &__button {
    display: inline-flex;
    align-items: center;
    &--text {
      padding-left: 5px;
    }
  }
}
