* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

// reset fieldset & legend found at: https://codepen.io/absolutholz/pen/jWgBMo

// legend {
//   display: table;
//   float: left;
//   margin: 0;
//   padding: 0;
//   width: 100%;

//   + * {
//     clear: both;
//   }
// }

// fieldset {
//   border: 0;
//   padding: 0.01em 0 0 0;
//   margin: 0;
//   min-width: 0;
// }

// body:not(:-moz-handler-blocked) fieldset {
//   display: table-cell;
// }
