// fonts
$fontTitle: "Inter", sans-serif;
$fontSubTitle: "Patrick Hand", cursive;

// color
$colorMain: #00b0c8;
$colorSecondary: #56bf5d;
$colorBgrFluor: #0df205;
$colorBorder: #074044;
$colorBgrWarm: #c9d952;
